main {
  padding: 5rem;
}
main div {
  border: 4px solid #443730;
  padding: 8rem;
  height: 32rem;
  text-align: center;
  font-size: 1.4rem;
  /* line-height: 5rem; */
}
input {
  height: 2.5rem;
  font-size: 1.4rem;
  margin: 1.5rem;
}
div button {
  font-size: 1.4rem;
  height: 2.5rem;
  margin: 1.5rem;
}